<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="[#HEAD.description]" />
    <link rel="icon" type="image/x-icon" href="[#HEAD.favicon]" />
    <title>[#HEAD.title]</title>
    <link rel="stylesheet" href="[#STYLE]" />
    <script src="[#SCRIPT]"></script>
    <script>
        const currentAlert = JSON.parse("[#ALERT]");
    </script>
</head>

<body>
    <div id="LAYOUT" data-state="[#LAYOUT_STATE]">
        <!-- [#CONTENT] -->
    </div>
    <div id="ALERT"></div>
</body>

</html>