<div id="__scope">
    <h3><!-- [#status] --></h3>
    <p><!-- [#message] --></p>
</div>

<style>
    #__scope {
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle at center, #1a1a1a 0%, #0d0d0d 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fafafa;
        font-family: "Fira Code", monospace;
        text-align: center;
        flex-direction: column;
        padding: 2rem;

        h3 {
            font-size: 2.5rem;
            margin: 0;
            letter-spacing: 1px;

            background: linear-gradient(to right, #803dc9, #425fba);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
</style>